/* Main */
.product {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.product-wrapper{
    width: calc(50% - 30px);
}
/* Nav */
.burger-menu {
    display: none;
}
#nav-bar {
    display: flex;
    border: dotted red 2px;
    justify-content: space-between;
}
#nav-bar ul{
    display: flex;
}
#nav-bar li {
    margin: 0 5px;
}

/* Barra*/

.logo {
    width: 33%;
}
.img-logo{
    width: 50%;
}

.barra-busqueda {
    width: 33%;
    align-items: center;
}

.compras {
    width: 34%;
    align-items: center;
}


/* FOOTER */
.des-foo {
    font-size: 16px;
}