/* Header */
.header-ml{
    padding: 20px;
    background-color: #eac926;
}
/*Nav*/
#nav-bar ul {
    padding-left: 0;
    list-style-type: none;
}
#nav-bar  a {
    text-decoration: none;
}

.burger-menu{
    text-align: center;
    font-size: 24px;
    width: 44px;
    height: 44px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 5px;
    color: white;
    background-color: #1259c3;;
}

#nav-bar{
    display: none;
}
/*Main*/
#main-content{
    width: 90%;
    margin: auto;
}
.product{
    border: solid 1px white;
}
.product-img{
    border: solid 1px white;
}
.product-wrapper{
    padding: 5px
}

.icon-truck{
   font-size: 20px;
}
.product-contenet .des {
    display: none;
}


/*Footer*/
.section-content
.icon{
    font-size: 1em;
    color: #1259c3;
}
