body {
    font-family: "Roboto";
    background-color: #dedede;
} 

/*Descripciones*/

.title {
    font-size: 26px;
}

.precio {
    font-size: 18px;
}

.des {
    font-size: 16px;
}

.dis {
    font-size: 16px;
}

/*Colores*/
.background-yellow {
    background-color: yellow;
}
.background-gray{
    background-color:rgba(102, 102, 102, 0.841);
}
.background-white{
    background-color: white;
}
.blue {
    color: #03264C;
}

.green {
    color: #39b54a;
}

.gray-black {
    color: #666;
}

.gray-white {
    color: #ebebeb;
}

.celeste {
    color: #1259c3;
}
.black{
    color: black;
}