body {
    font-family: "Roboto";
    background-color: #dedede;
} 

/*Descripciones*/

.title {
    font-size: 26px;
}

.precio {
    font-size: 18px;
}

.des {
    font-size: 16px;
}

.dis {
    font-size: 16px;
}

/*Colores*/
.background-white{
    background-color: white;
}
.green {
    color: #39b54a;
}

.gray-black {
    color: #666;
}

.black{
    color: black;
}